{% extends 'base.html'%}

{% load static %}

{% block title %}City Bikes{% endblock %}


{% block content %}
<div class="container">
     <div class="container small">
         <h3>Adding new station</h3>
         {% if messages %}
              {% for message in messages %}
                  <div class="container-sm position: align-items-center">
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
                  </div>
{% endfor %}
{% endif %}

 <div class="container small">
    <form action='' method=POST enctype="multipart/form-data" >
    {% csrf_token %}
        <br>
        <br>

 <div class="form-group col-md-6" style ='font-size: small'>
        Station f_id {{ form.f_id}}<br>
        Station id {{ form.station_id }}<br>
        Station name (fin) {{ form.name_fin }}<br>
        Station name (sweden){{ form.name_swd}}<br>
        Station name (english){{ form.name_eng}}<br>
        Address (fin) {{ form.address_fin }}<br>
        Address(eng) {{ form.address_swd }}<br>
        City (fin) {{ form.city_fin }}<br>
        City (eng) {{ form.city_swd }}<br>
        Operator{{ form.operator }}<br>
        Capacity{{ form.capacity }}<br>
        Longitude{{ form.coord_x }}<br>
        Latitude{{ form.coord_y }}<br>

<br>

   <div class = 'text-center'>
    <button type="submit" class = 'btn-secondary'>Add station</button>
        <span>{{ error }}</span>
   </div>
</div>
    </form>

    </div>
    </div>
</div>

{% endblock%}