{% extends 'base.html'%}

{% load static %}

{% block title %}City Bikes{% endblock %}


{% block content %}
<div class="container">
     <div class="container small">
         <h3>Adding new station</h3>
         {% if messages %}
              {% for message in messages %}
                  <div class="container-sm position: align-items-center">
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
                  </div>
{% endfor %}
{% endif %}

 <div class="container small">
    <form action='' method=POST enctype="multipart/form-data" >
    {% csrf_token %}
        <br>
        <br>

 <div class="form-group col-md-6" style ='font-size: small'>
        <span style='font-weight:bold'>Station f_id </span>{{ form.f_id}}<br>
         <span style='font-weight:bold'>Station id </span>{{ form.station_id }}<br>
         <span style='font-weight:bold'>Station name (fin) </span>{{ form.name_fin }}<br>
         <span style='font-weight:bold'>Station name (sweden)</span>{{ form.name_swd}}<br>
         <span style='font-weight:bold'>Station name (english)</span>{{ form.name_eng}}<br>
         <span style='font-weight:bold'>Address (fin) </span>{{ form.address_fin }}<br>
         <span style='font-weight:bold'>Address(eng) </span>{{ form.address_swd }}<br>
         <span style='font-weight:bold'>City (fin) </span>{{ form.city_fin }}<br>
         <span style='font-weight:bold'>City (eng) </span>{{ form.city_swd }}<br>
         <span style='font-weight:bold'>Operator</span>{{ form.operator }}<br>
         <span style='font-weight:bold'>Capacity</span>{{ form.capacity }}<br>
         <span style='font-weight:bold'>Longitude</span>{{ form.coord_x }}<br>
         <span style='font-weight:bold'>Latitude</span>{{ form.coord_y }}<br>

<br>

   <div class = 'text-center'>
    <button type="submit" class = ' btn btn-light'>Add station</button>
        <span>{{ error }}</span>
   </div>
</div>
    </form>

    </div>
    </div>
</div>

{% endblock%}